<%- include ("partials/header.ejs"); -%>
	<!-- header of the scrum board-->
	<div class="mt-5 px-5">
	<h1 class="mb-4">Product Backlog</h1>

	<div class="btn-group">
		<button type="button" class="btn bg-body-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
			<path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
		</svg>
		Sort By
		</button>
			<form action="/changeSort" method="POST">
				<ul class="dropdown-menu">
					<li><button class="dropdown-item" type="submit" name="sort" value="priority">Priority</button></li>
					<li><button class="dropdown-item" type="submit" name="sort" value="name">Name</button></li>
			<li><button class="dropdown-item" type="submit" name="sort" value="tag">Tag</button></li>
			<li><button class="dropdown-item" type="submit" name="sort" value="story_points">Story Points</button></li>
				</ul>  
			</form>     
	</div>
	</div>

	<div class="card d-flex p-3 bg-body-secondary flex-column gap-3 border border-0 m-5">
	<div class="d-flex gap-2 justify-content-start" style="width:20rem">
			<h4 class="text-start">Tasks</h4>
			<h4 class="text-body-secondary"><%= tasks.length %></h4>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Priority</th>
				<th scope="col">Tag</th>
				<th scope="col">Story Points</th>
				<th scope="col">More</th>
				<th scope="col">Move</th>
			</tr>
		</thead>
		<tbody>
			<% tasks.forEach(task => { %>
				<tr>
					<td><%= task.title %></td>
					<td>
						<% if (task.priority !== null) { %>
							<span class="badge text-bg-dark rounded-pill p-2"><%= task.priority %></span>
						<% } %>
					</td>
					<td>
						<% if (task.tag !== null) { %>
							<span class="badge <%=task.tag%>-badge py-1"><%=task.tag%></span>
						<% } %>
					</td>
					<td>
						<% if (task.story_points !== null) { %>
							<%=task.story_points%>pts
						<% } %>
					</td>
					<td>
						<a href="#" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>">
								View/Edit
						</a>  
					</td>
					<td>
						<div class="btn-group dropstart">
							<a href="#" data-bs-toggle="dropdown">
								Move To
							</a>
							<form action="/moveToSprint" method="POST">
								<input type="hidden" name="taskId" value="<%=task.id%>">
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><h6 class="dropdown-header">Sprints</h6></li>
									<% sprints.forEach(sprint => { %>
										<li>
											<button class="dropdown-item" type="submit" name="sprintId" value="<%= sprint.id %>">
												<%= sprint.name %>
											</button>
										</li>
									<% }) %>
								</ul>
							</form>
						</div>
					</td>
				</tr>					 
			<% }) %>
		</tbody>
	</table>

	<!-- Add Task Form-->
	<div class="collapse" id="createTask2">
		<div class="card border border-0 shadow-sm">
			<div class="card-body">
					<h5 class="card-title">Add Task</h5>

					<form action="/add" method="POST">
						<input type="text" class="form-control" name="taskName" autocomplete="off">
					</form>
			</div>
		</div>
	</div>

	<!-- Add Task Button-->
	<div class="d-flex justify-content-center">
		<button class="btn btn-dark rounded-circle p-1 lh-1" type="button" data-bs-toggle="collapse" data-bs-target="#createTask2" aria-expanded="false" aria-controls="createTask2">
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
				</svg>
		</button>
	</div>
	</div>

	<% tasks.forEach(task => { %>
		<!-- Edit/View More for each task (for both list and card views)-->
		<div class="modal fade" id="detailed<%= task.id %>" tabindex="-1">
			<div class="modal-dialog" style="max-width: 50rem;">
			<div class="modal-content">
				<div class="modal-body">
				<form action="/edit" method="POST">
					<!--Stores the id of the task as a hidden value-->
					<input type="hidden" name="id" value="<%=task.id%>">
	
					<!--Task Name at top (prefill + save)-->
					<label for="titleInput<%= task.id %>" class="form-label">Task Name</label>
					<input class="form-control form-control" id="titleInput<%= task.id %>" type="text" value="<%=task.title%>" name="taskName" autocomplete="off">
					
					<div class="row mt-3">
					<div class="col">
						<!--Tags (dropdown prefill + save, for now only 1 tag at a time)-->
						<label for="tag<%= task.id %>" class="form-label">Tag</label>
						<select class="form-control form-control-sm" id="tag<%= task.id %>" name="taskTag">
						<% if (task.tag !== null) { %>
							<option value="<%=task.tag%>" selected><%=task.tag%></option>
						<% } else {%>
							<option value="" selected>None</option>
						<% } %>
						<option value="Back-End">Back-End</option>
						<option value="Front-End">Front-End</option>
						<option value="API">API</option>
						<option value="Databases">Databases</option>
						<option value="Testing">Testing</option>
						<option value="UIUX">UIUX</option>
						</select>
	
					</div>
	
					<div class="col">
						<!--Priority (dropdown prefill + save)-->
						<label for="priority<%= task.id %>" class="form-label">Priority</label>
						<select class="form-control form-control-sm" id="priority<%= task.id %>" name="taskPriority">
						<% if (task.priority !== null) { %>
							<option value="<%=task.priority%>" selected><%=task.priority%></option>
							<% } else {%>
							<option value="" selected>None</option>
							<% } %>
						<option value="Urgent">Urgent</option>
						<option value="Low">Low</option>
						<option value="Medium">Medium</option>
						<option value="Important">Important</option>
						</select>
	
					</div>
	
					<div class="col">
						<!--Story Points (prefill + save)-->
						<label for="storyInput<%= task.id %>" class="form-label">Story Points</label>
						<input class="form-control form-control-sm" id="storyInput<%= task.id %>" type="text"
						<% if (task.story_points !== null) { %>
						value="<%=task.story_points%>"
						<% } %>
						name="taskStoryPoint" autocomplete="off">
					</div>
					</div>
	
					
					<!--Description (prefill + save)-->
					<label for="descriptionInput<%= task.id %>" class="form-label mt-3">Description</label>
					<textarea class="form-control" id="descriptionInput<%= task.id %>" rows="3" name="taskDescription" autocomplete="off"><% if (task.description !== null) { %><%=task.description%><% } %></textarea>
	
					<!--Saving Changes-->
					<button type="submit" class="btn bg-body-secondary mt-3">Save Changes</button>
				</form>
				<form action="/delete" method="POST">
					<!--Delete Task-->
					<input type="hidden" name="id" value="<%=task.id%>">
					<button type="submit" class="btn btn-outline-danger mt-3">Delete Task</button>
				</form>
				</div>
			</div>
			</div>
		</div>
		<% }) %>
<%- include ("partials/footer.ejs"); -%>