<%- include ("partials/header.ejs"); -%>
  <!-- header of the scrum board-->
  <div class="mt-5 px-sm-5">
	<span class="badge p-2 me-auto text-bg-dark rounded-pill mb-2"><%=sprintStatus%></span>
	<div class="d-flex gap-3 align-items-center">
	    <h1 class="mb-2"><%= sprintDetails.name %></h1>	
		<button class="btn bg-body-secondary rounded-circle p-1 lh-1 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#sprintDetails" aria-expanded="false">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
				<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
			</svg>
		</button> 
	</div>

	<p class="fs-5 text-secondary mb-4"><%= new Date(sprintDetails.start_date).toLocaleDateString('en-AU', { day: '2-digit', month: '2-digit', year: 'numeric' }); %> - 
		<%= new Date(sprintDetails.end_date).toLocaleDateString('en-AU', { day: '2-digit', month: '2-digit', year: 'numeric' }); %>
	</p>
	<div class="d-flex justify-content-start gap-2 flex-wrap">
		<div class="btn-group">
			<button type="button" class="btn bg-body-secondary dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
				<path d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"/>
				</svg>
				View
			</button>
					<form action="/changeSprintView" method="POST">
						<ul class="dropdown-menu">
							<li><button class="dropdown-item" type="submit" name="view" value="card">Card View</button></li>
							<li><button class="dropdown-item" type="submit" name="view" value="list">List View</button></li>
						</ul>  
					</form>    
			</div>
		
			<div class="btn-group">
			<button type="button" class="btn bg-body-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
					<path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
				</svg>
				Sort By
			</button>
					<form action="/changeSprintSort" method="POST">
						<ul class="dropdown-menu">
							<li><button class="dropdown-item" type="submit" name="sort" value="priority">Priority</button></li>
							<li><button class="dropdown-item" type="submit" name="sort" value="name">Name</button></li>
							<li><button class="dropdown-item" type="submit" name="sort" value="story_points">Story Points</button></li>
						</ul>  
					</form>     
			</div>
		
			<div class="btn-group">
				<button type="button" class="btn bg-body-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
						<path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
					</svg>
				Order
				</button>
					<form action="/changeSprintOrder" method="POST">
						<ul class="dropdown-menu">
							<li><button class="dropdown-item" type="submit" name="order" value="ASC">Ascending</button></li>
							<li><button class="dropdown-item" type="submit" name="order" value="DESC">Descending</button></li>
						</ul>  
					</form>     
			</div>
		
			<div class="btn-group">
				<button type="button" class="btn bg-body-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
						<path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
					</svg>
				Filter by Tag
				</button>
					<form action="/changeSprintFilter" method="POST">
						<ul class="dropdown-menu">
					<li><button class="dropdown-item" type="submit" name="filter" value="">None</button></li>
							<li><button class="dropdown-item" type="submit" name="filter" value="Back-End">Back-End</button></li>
							<li><button class="dropdown-item" type="submit" name="filter" value="Front-End">Front-End</button></li>
							<li><button class="dropdown-item" type="submit" name="filter" value="API">API</button></li>
							<li><button class="dropdown-item" type="submit" name="filter" value="Databases">Databases</button></li>
							<li><button class="dropdown-item" type="submit" name="filter" value="Testing">Testing</button></li>
							<li><button class="dropdown-item" type="submit" name="filter" value="UIUX">UI/UX</button></li>
						</ul>  
					</form>     
			</div>
		
				<div class="ms-lg-auto">
					<a href="/viewBurndownChart" class="btn btn-primary">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-down" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 11.887a.5.5 0 0 0 .07-.704l-4.5-5.5a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61 4.15 5.073a.5.5 0 0 0 .704.07"/>
						</svg>
					View Burndown Chart
					</a>
				</div>
	  
	</div>
    

  </div>

	<% if (view === "card") { %>
		<!-- Card View Start-->
		<div class="d-flex gap-3 P-3 mt-5 mx-sm-5 row" >
			
			<!-- Not Started Column-->
			<div class="card d-flex flex-column bg-primary-subtle gap-3 py-3 border border-0 col-12 col-lg-3">
				<!-- Title of Column-->
				<div class="d-flex gap-2 justify-content-start">
					<h4 class="text-start">Not Started :</h4>
					<h4 class="text-body-secondary"><%= notStarted.length %></h4>
				</div>
				
				<% notStarted.forEach(task => { %>
					<!-- Task Entry-->
					<div class="card border border-0 shadow-sm">
						<div class="card-body">
							<div class="d-flex justify-content-end align-items-center gap-3 mb-2">
								<% if (task.priority !== null) { %>
									<span class="badge text-bg-dark rounded-pill p-2 me-auto"><%=task.priority%></span>
								<% } %>
								<% if (task.story_points !== null) { %>
									<div class="text-body-secondary"><%=task.story_points%>pts</div>
								<% } %>
								<button class="btn bg-body-secondary rounded-circle p-1 lh-1 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>" aria-expanded="false">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
										<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
									</svg>
								</button>         
							</div>
							<h5 class="card-title"><%= task.title %></h5>
							<% if (task.assignee !== null) { %>
								<h6 class="card-subtitle mb-2 text-body-secondary"><%=task.assignee%></h6>
							<% } %>
							<div class="d-flex gap-2 justify-content-start w-100 align-items-center">
								<% if (task.tags !== null) { %>
									<div class="d-flex gap-1 align-items-center flex-wrap">
										<% task.tags.replace(/{|}/g, '').split(',').forEach(tag => { %>
											<span class="badge <%=tag%>-badge py-1 d-flex align-items-center"><%= tag === "UIUX"?"UI/UX":tag %></span>
										<% }) %>
									</div>
								<% } %>
								<div class="btn-group dropend ms-auto">
									<button class="btn bg-body-secondary rounded-circle p-1 lh-1 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
										</svg>
									</button>
									<form action="/moveProgress" method="POST">
										<input type="hidden" name="id" value="<%=task.id%>">
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<li><h6 class="dropdown-header">Move to</h6></li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="Not Started">
													Not Started
												</button>
											</li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="In Progress">
													In Progress
												</button>
											</li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="Completed">
													Completed
												</button>
											</li>
										</ul>
									</form>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
			</div>
			<!-- To Do Column End-->


			<!-- In Progress Column-->
			<div class="card d-flex flex-column bg-warning-subtle gap-3 py-3 border border-0 col-12 col-lg-3">
				<!-- Title of Column-->
				<div class="d-flex gap-2 justify-content-start">
					<h4 class="text-start">In Progress :</h4>
					<h4 class="text-body-secondary"><%= inProgress.length %></h4>
				</div>

				<% inProgress.forEach(task => { %>
					<!-- Task Entry-->
					<div class="card border border-0 shadow-sm">
						<div class="card-body">
							<div class="d-flex justify-content-end align-items-center gap-3 mb-2">
								<% if (task.priority !== null) { %>
									<span class="badge text-bg-dark rounded-pill p-2 me-auto"><%=task.priority%></span>
								<% } %>
								<% if (task.story_points !== null) { %>
									<div class="text-body-secondary"><%=task.story_points%>pts</div>
								<% } %>
								<button class="btn bg-body-secondary rounded-circle p-1 lh-1 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>" aria-expanded="false">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
										<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
									</svg>
								</button>         
							</div>
							<h5 class="card-title"><%= task.title %></h5>
							<% if (task.assignee !== null) { %>
								<h6 class="card-subtitle mb-2 text-body-secondary"><%=task.assignee%></h6>
							<% } %>
							<div class="d-flex gap-2 justify-content-start w-100 align-items-center">
								<% if (task.tags !== null) { %>
									<div class="d-flex gap-1 align-items-center flex-wrap">
										<% task.tags.replace(/{|}/g, '').split(',').forEach(tag => { %>
											<span class="badge <%=tag%>-badge py-1 d-flex align-items-center"><%= tag === "UIUX"?"UI/UX":tag %></span>
										<% }) %>
									</div>
								<% } %>
								<div class="btn-group dropend ms-auto">
									<button class="btn bg-body-secondary rounded-circle p-1 lh-1 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
										</svg>
									</button>
									<form action="/moveProgress" method="POST">
										<input type="hidden" name="id" value="<%=task.id%>">
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<li><h6 class="dropdown-header">Move to</h6></li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="Not Started">
													Not Started
												</button>
											</li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="In Progress">
													In Progress
												</button>
											</li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="Completed">
													Completed
												</button>
											</li>
										</ul>
									</form>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
			</div>

			<!-- Completed Column-->
			<div class="card d-flex flex-column bg-success-subtle gap-3 py-3 border border-0 col-12 col-lg-3">
				<!-- Title of Column-->
				<div class="d-flex gap-2 justify-content-start">
					<h4 class="text-start">Completed :</h4>
					<h4 class="text-body-secondary"><%= completed.length %></h4>
				</div>
				<% completed.forEach(task => { %>
					<!-- Task Entry-->
					<div class="card border border-0 shadow-sm">
						<div class="card-body">
							<div class="d-flex justify-content-end align-items-center gap-3 mb-2">
								<% if (task.priority !== null) { %>
									<span class="badge text-bg-dark rounded-pill p-2 me-auto"><%=task.priority%></span>
								<% } %>
								<% if (task.story_points !== null) { %>
									<div class="text-body-secondary"><%=task.story_points%>pts</div>
								<% } %>
								<button class="btn bg-body-secondary rounded-circle p-1 lh-1 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>" aria-expanded="false">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
										<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
									</svg>
								</button>         
							</div>
							<h5 class="card-title"><%= task.title %></h5>
							<% if (task.assignee !== null) { %>
								<h6 class="card-subtitle mb-2 text-body-secondary"><%=task.assignee%></h6>
							<% } %>
							<div class="d-flex gap-2 justify-content-start w-100 align-items-center">
								<% if (task.tags !== null) { %>
									<div class="d-flex gap-1 align-items-center flex-wrap">
										<% task.tags.replace(/{|}/g, '').split(',').forEach(tag => { %>
											<span class="badge <%=tag%>-badge py-1 d-flex align-items-center"><%= tag === "UIUX"?"UI/UX":tag %></span>
										<% }) %>
									</div>
								<% } %>
								<div class="btn-group dropend ms-auto">
									<button class="btn bg-body-secondary rounded-circle p-1 lh-1 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
										</svg>
									</button>
									<form action="/moveProgress" method="POST">
										<input type="hidden" name="id" value="<%=task.id%>">
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<li><h6 class="dropdown-header">Move to</h6></li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="Not Started">
													Not Started
												</button>
											</li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="In Progress">
													In Progress
												</button>
											</li>
											<li>
												<button class="dropdown-item" type="submit" name="destination" value="Completed">
													Completed
												</button>
											</li>
										</ul>
									</form>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
		<!-- Card View End-->
	<% } else if (view === "list"){%>
		<!--List View Start-->

		<!--Not Started Column-->
		<div class="card d-flex p-3 bg-primary-subtle flex-column gap-3 border border-0 mt-5 mx-sm-5">
			<div class="d-flex gap-2 justify-content-start" style="width:20rem">
					<h4 class="text-start">Not Started :</h4>
					<h4 class="text-body-secondary"><%= notStarted.length %></h4>
			</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Priority</th>
							<th scope="col">Tags</th>
							<th scope="col">Assignee</th>
							<th scope="col">Story Points</th>
							<th scope="col">More</th>
							<th scope="col">Move</th>
						</tr>
					</thead>
					<tbody>
						<% notStarted.forEach(task => { %>
							<tr>
								<td><%= task.title %></td>
								<td>
									<% if (task.priority !== null) { %>
										<span class="badge text-bg-dark rounded-pill p-2"><%= task.priority %></span>
									<% } %>
								</td>
								<td>
									<% if (task.tags !== null) { %>
										<div class="d-flex flex-column gap-1 align-items-start">
											<% task.tags.replace(/{|}/g, '').split(',').forEach(tag => { %>
												<span class="badge <%=tag%>-badge py-1 d-flex align-items-center"><%= tag === "UIUX"?"UI/UX":tag %></span>
											<% }) %>
										</div>
									<% } %>
								</td>
								<td>
									<% if (task.assignee !== null) { %>
										<%=task.assignee%>
									<% } %>
								</td>
								<td>
									<% if (task.story_points !== null) { %>
										<%=task.story_points%>pts
									<% } %>
								</td>
								<td>
									<a href="#" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>">
											View/Edit
									</a>  
								</td>
								<td>
									<div class="btn-group dropstart">
										<a href="#" data-bs-toggle="dropdown">
											Move To
										</a>
										<form action="/moveProgress" method="POST">
											<input type="hidden" name="id" value="<%=task.id%>">
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												<li><h6 class="dropdown-header">Move to</h6></li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="Not Started">
														Not Started
													</button>
												</li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="In Progress">
														In Progress
													</button>
												</li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="Completed">
														Completed
													</button>
												</li>
											</ul>
										</form>
									</div>
								</td>
							</tr>					 
						<% }) %>
					</tbody>
				</table>
			</div>

		</div>

		<!--In Progress Column-->
		<div class="card d-flex p-3 bg-warning-subtle flex-column gap-3 border border-0 mt-5 mx-sm-5">
			<div class="d-flex gap-2 justify-content-start" style="width:20rem">
					<h4 class="text-start">In Progress :</h4>
					<h4 class="text-body-secondary"><%= inProgress.length %></h4>
			</div>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Priority</th>
							<th scope="col">Tags</th>
							<th scope="col">Assignee</th>
							<th scope="col">Story Points</th>
							<th scope="col">More</th>
							<th scope="col">Move</th>
						</tr>
					</thead>
					<tbody>
						<% inProgress.forEach(task => { %>
							<tr>
								<td><%= task.title %></td>
								<td>
									<% if (task.priority !== null) { %>
										<span class="badge text-bg-dark rounded-pill p-2"><%= task.priority %></span>
									<% } %>
								</td>
								<td>
									<% if (task.tags !== null) { %>
										<div class="d-flex flex-column gap-1 align-items-start">
											<% task.tags.replace(/{|}/g, '').split(',').forEach(tag => { %>
												<span class="badge <%=tag%>-badge py-1 d-flex align-items-center"><%= tag === "UIUX"?"UI/UX":tag %></span>
											<% }) %>
										</div>
									<% } %>
								</td>
								<td>
									<% if (task.assignee !== null) { %>
										<%=task.assignee%>
									<% } %>
								</td>
								<td>
									<% if (task.story_points !== null) { %>
										<%=task.story_points%>pts
									<% } %>
								</td>
								<td>
									<a href="#" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>">
											View/Edit
									</a>  
								</td>
								<td>
									<div class="btn-group dropstart">
										<a href="#" data-bs-toggle="dropdown">
											Move To
										</a>
										<form action="/moveProgress" method="POST">
											<input type="hidden" name="id" value="<%=task.id%>">
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												<li><h6 class="dropdown-header">Move to</h6></li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="Not Started">
														Not Started
													</button>
												</li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="In Progress">
														In Progress
													</button>
												</li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="Completed">
														Completed
													</button>
												</li>
											</ul>
										</form>
									</div>
								</td>
							</tr>					 
						<% }) %>
					</tbody>
				</table>
			</div>

		</div>
		
		<!--Completed Column-->
		<div class="card d-flex p-3 bg-success-subtle flex-column gap-3 border border-0 mt-5 mx-sm-5">
			<div class="d-flex gap-2 justify-content-start" style="width:20rem">
					<h4 class="text-start">Completed :</h4>
					<h4 class="text-body-secondary"><%= completed.length %></h4>
			</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Priority</th>
							<th scope="col">Tags</th>
							<th scope="col">Assignee</th>
							<th scope="col">Story Points</th>
							<th scope="col">More</th>
							<th scope="col">Move</th>
						</tr>
					</thead>
					<tbody>
						<% completed.forEach(task => { %>
							<tr>
								<td><%= task.title %></td>
								<td>
									<% if (task.priority !== null) { %>
										<span class="badge text-bg-dark rounded-pill p-2"><%= task.priority %></span>
									<% } %>
								</td>
								<td>
									<% if (task.tags !== null) { %>
										<div class="d-flex flex-column gap-1 align-items-start">
											<% task.tags.replace(/{|}/g, '').split(',').forEach(tag => { %>
												<span class="badge <%=tag%>-badge py-1 d-flex align-items-center"><%= tag === "UIUX"?"UI/UX":tag %></span>
											<% }) %>
										</div>
									<% } %>
								</td>
								<td>
									<% if (task.assignee !== null) { %>
										<%=task.assignee%>
									<% } %>
								</td>
								<td>
									<% if (task.story_points !== null) { %>
										<%=task.story_points%>pts
									<% } %>
								</td>
								<td>
									<a href="#" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>">
											View/Edit
									</a>  
								</td>
								<td>
									<div class="btn-group dropstart">
										<a href="#" data-bs-toggle="dropdown">
											Move To
										</a>
										<form action="/moveProgress" method="POST">
											<input type="hidden" name="id" value="<%=task.id%>">
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												<li><h6 class="dropdown-header">Move to</h6></li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="Not Started">
														Not Started
													</button>
												</li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="In Progress">
														In Progress
													</button>
												</li>
												<li>
													<button class="dropdown-item" type="submit" name="destination" value="Completed">
														Completed
													</button>
												</li>
											</ul>
										</form>
									</div>
								</td>
							</tr>					 
						<% }) %>
					</tbody>
				</table>
			</div>

		</div>
		
		<!--List View End-->
	<% } else { %>
		<h1>ERROR LOADING VIEW</h1>
	<% } %>

	<!-- Modals for editing the details of a task-->
	<!-- Only descriptions, tags and assignees can be changed if a sprint has started-->
  <% notStarted.concat(inProgress).concat(completed).forEach(task => { %>
    <!-- Edit/View More for each task (for both list and card views)-->
    <div class="modal fade" id="detailed<%= task.id %>" tabindex="-1">
      <div class="modal-dialog" style="max-width: 50rem;">
        <div class="modal-content">
          <div class="modal-body">
            <form action="/editInSprint" method="POST">
              <!--Stores the id of the task as a hidden value-->
              <input type="hidden" name="id" value="<%=task.id%>">

              <!--Task Name at top (prefill + save)-->
              <label for="titleInput<%= task.id %>" class="form-label">Task Name</label>
              <input class="form-control form-control" id="titleInput<%= task.id %>" type="text" value="<%=task.title%>" name="taskName" autocomplete="off" 
			  <% if (sprintStatus === "In Progress") { %>
				readonly data-bs-toggle="tooltip" data-bs-title="Locked During Active Sprint"
			  <% } %>
			  >
              <!--Assignee (prefill + save)-->
              <label for="assigneeInput<%= task.id %>" class="form-label mt-3">Assignee</label>
              <input class="form-control form-control" id="assigneeInput<%= task.id %>" type="text"
              <% if (task.assignee !== null) { %>
                value="<%=task.assignee%>"
              <% } %>
              name="taskAssignee" autocomplete="off">

			  <div class="row mt-3">
				<div class="col">
					<!--Tags (dropdown prefill + save, for now only 1 tag at a time)-->
					<label for="tagOptions<%= task.id %>" class="form-label">Tags</label>
					<div id="tagOptions<%= task.id %>">
						<label><input type="checkbox" name="taskTags[]" value="Back-End" 
							<%= task.tags && task.tags.includes('Back-End') ? 'checked' : '' %>> Back-End</label><br>
						
						<label><input type="checkbox" name="taskTags[]" value="Front-End" 
							<%= task.tags && task.tags.includes('Front-End') ? 'checked' : '' %>> Front-End</label><br>
						
						<label><input type="checkbox" name="taskTags[]" value="API" 
							<%= task.tags && task.tags.includes('API') ? 'checked' : '' %>> API</label><br>
						
						<label><input type="checkbox" name="taskTags[]" value="Databases" 
							<%= task.tags && task.tags.includes('Databases') ? 'checked' : '' %>> Databases</label><br>
						
						<label><input type="checkbox" name="taskTags[]" value="Testing" 
							<%= task.tags && task.tags.includes('Testing') ? 'checked' : '' %>> Testing</label><br>
						
						<label><input type="checkbox" name="taskTags[]" value="UIUX" 
							<%= task.tags && task.tags.includes('UIUX') ? 'checked' : '' %>> UI/UX</label><br>
					</div>						
				</div>

				<div class="col">
					<!--Priority (dropdown prefill + save)-->
					<label for="priority<%= task.id %>" class="form-label">Priority</label>
					<select class="form-control form-control-sm" id="priority<%= task.id %>" name="taskPriority">
					<% if (task.priority !== null) { %>
						<option value="<%=task.priority%>" selected><%=task.priority%></option>
						<% } else {%>
						<option value="" selected>None</option>
						<% } %>
					<option value="Urgent">Urgent</option>
					<option value="Low">Low</option>
					<option value="Medium">Medium</option>
					<option value="Important">Important</option>
					</select>

					<!--Story Points (prefill + save)-->
					<label for="storyInput<%= task.id %>" class="form-label">Story Points</label>
					<input class="form-control form-control-sm" id="storyInput<%= task.id %>" type="number" aria-describedby="spHelpBlock"
					<% if (task.story_points !== null) { %>
					value="<%=task.story_points%>"
					<% } %>
					name="taskStoryPoint" autocomplete="off" min="1" max="10"
					<% if (sprintStatus === "In Progress") { %>
						readonly data-bs-toggle="tooltip" data-bs-title="Locked During Active Sprint"
					  <% } %>>
					<div id="spHelpBlock" class="form-text">
						Story Points must be between 1-10
					</div>
				</div>

			</div>

              <!--Description (prefill + save)-->
              <label for="descriptionInput<%= task.id %>" class="form-label mt-3">Description</label>
              <textarea class="form-control" id="descriptionInput<%= task.id %>" rows="3" name="taskDescription" autocomplete="off"><% if (task.description !== null) { %><%=task.description%><% } %></textarea>
			  
			<!--Saving Changes-->
			<button type="submit" class="btn btn-primary mt-3">Save Changes</button>
              
			  <!-- Moving a task back to the backlog (IF sprint if not in progress)-->
            </form>
			<% if (sprintStatus !== "In Progress") { %>
				<form action="/moveToBacklog" method="POST">
					<input type="hidden" name="taskId" value="<%=task.id%>">
					<button type="submit" class="btn bg-body-secondary mt-3">Move to Backlog</button>
				</form>
			<% } %>
          </div>
        </div>
      </div>
    </div>
  <% }) %>

  <!--Modal for viewing the details of a sprint-->
  <div class="modal fade" id="sprintDetails" tabindex="-1">
	<div class="modal-dialog" style="max-width: 50rem;">
	  <div class="modal-content">
		<div class="modal-body">
		  <form action="/editSprint" method="POST">
			<!--Stores the id of the sprint as a hidden value-->
			<input type="hidden" name="id" value="<%=sprintDetails.id%>">

			<!--Sprint Name at top (prefill + save)-->
			<label for="titleEditSprint" class="form-label">Sprint Name</label>
			<input class="form-control form-control" id="titleEditSprint" type="text" value="<%=sprintDetails.name%>" name="name" autocomplete="off">
			
			<!--Start and end date for sprint-->
			<div class="row mt-4">
				<!-- Start Date for the sprint -->
				<div class="col">
					<label for="startDateEdit" class="form-label">Start Date</label>
					<input class="form-control" id="startDateEdit" type="date" name="startDate" autocomplete="off" 
						value="<%= new Date(new Date(sprintDetails.start_date).getTime() - (new Date().getTimezoneOffset() * 60000)).toISOString().split('T')[0] %>">
				</div>
			
				<!-- End Date for the sprint -->
				<div class="col">
					<label for="endDateEdit" class="form-label">End Date</label>
					<input class="form-control" id="endDateEdit" type="date" name="endDate" autocomplete="off" 
						value="<%= new Date(new Date(sprintDetails.end_date).getTime() - (new Date().getTimezoneOffset() * 60000)).toISOString().split('T')[0] %>">
				</div>
			</div>
			
			
			<!-- Scrum Master and Product Owner for sprint-->
			<div class="row mt-4">
				<!--Scrum Master-->
					<div class="col">
					<label for="scrumMasterEdit" class="form-label">Scrum Master</label>
					<input class="form-control form-control" id="scrumMasterEdit" type="text" value="<%=sprintDetails.scrum_master%>" name="scrumMaster" autocomplete="off">
					</div>
	
				<!--Product Owner-->
					<div class="col">
					<label for="productOwnerEdit" class="form-label">Product Owner</label>
					<input class="form-control form-control" id="productOwnerEdit" type="text" value="<%=sprintDetails.product_owner%>" name="productOwner" autocomplete="off">					</div>
			</div>

			<!--Description (prefill + save)-->
			<label for="descriptionEdit" class="form-label mt-3">Description</label>
			<textarea class="form-control" id="descriptionEdit" rows="3" name="description" autocomplete="off"><% if (sprintDetails.description !== null) { %><%=sprintDetails.description%><% } %></textarea>

			<!--Saving Changes-->
			<button type="submit" class="btn btn-primary mt-3">Save Changes</button>
		  </form>
			<!--Delete Sprint-->
			<input type="hidden" name="sprintId" value="<%=sprintDetails.id%>">
			<button type="button" class="btn btn-outline-danger mt-3" data-bs-target="#deleteConfirmationSprint" data-bs-toggle="modal"">Delete Sprint</button>
		</div>
	  </div>
	</div>
  </div>
  
  <div class="modal fade" id="deleteConfirmationSprint" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 50rem;">
	<div class="modal-content">
		<div class="modal-body">
			<p>Are you sure you want to delete this sprint? This action cannot be undone.</p>
		</div>
		<div class="modal-footer">
			<form action="/deleteSprint" method="POST">
				<!--Delete Sprint-->
				<input type="hidden" name="sprintId" value="<%=sprintDetails.id%>">
				<button type="submit" class="btn btn-outline-danger">Delete Sprint</button>
			</form>
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
		</div>
	</div>
	</div>
	</div>
  <%- include ("partials/footer.ejs"); -%>