

    <!--List View Start-->

	<!--Not Started Column-->
	<div class="card d-flex p-3 bg-body-secondary flex-column gap-3 border border-0 m-5">
		<div class="d-flex gap-2 justify-content-start" style="width:20rem">
				<h4 class="text-start">Not Started</h4>
				<h4 class="text-body-secondary"><%= notStarted.length %></h4>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Priority</th>
					<th scope="col">Tag</th>
					<th scope="col">Assignee</th>
					<th scope="col">Story Points</th>
					<th scope="col">More</th>
					<th scope="col">Move</th>
				</tr>
			</thead>
			<tbody>
				<% notStarted.forEach(task => { %>
					<tr>
						<td><%= task.title %></td>
						<td>
							<% if (task.priority !== null) { %>
								<span class="badge text-bg-dark rounded-pill p-2"><%= task.priority %></span>
							<% } %>
						</td>
						<td>
							<% if (task.tag !== null) { %>
								<span class="badge <%=task.tag%>-badge py-1"><%=task.tag%></span>
							<% } %>
						</td>
						<td>
							<% if (task.assignee !== null) { %>
								<%=task.assignee%>
							<% } %>
						</td>
						<td>
							<% if (task.story_points !== null) { %>
								<%=task.story_points%>pts
							<% } %>
						</td>
						<td>
							<a href="#" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>">
									View/Edit
							</a>  
						</td>
						<td>
							<div class="btn-group dropstart">
								<a href="#" data-bs-toggle="dropdown">
									Move To
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><h6 class="dropdown-header">Move to</h6></li>
									<li><button class="dropdown-item" type="button">Not Started</button></li>
									<li><button class="dropdown-item" type="button">In Progress</button></li>
									<li><button class="dropdown-item" type="button">Completed</button></li>
								</ul>
							</div>
						</td>
					</tr>					 
				<% }) %>
			</tbody>
		</table>

		<!-- Add Task Form-->
		<div class="collapse" id="createTask2">
			<div class="card border border-0 shadow-sm">
				<div class="card-body">
						<h5 class="card-title">Add Task</h5>

						<form action="/add" method="POST">
							<input type="text" class="form-control" name="taskName" autocomplete="off">
						</form>
				</div>
			</div>
		</div>

		<!-- Add Task Button-->
		<div class="d-flex justify-content-center">
			<button class="btn btn-dark rounded-circle p-1 lh-1" type="button" data-bs-toggle="collapse" data-bs-target="#createTask2" aria-expanded="false" aria-controls="createTask2">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
					</svg>
			</button>
		</div>
	</div>

	<!--In Progress Column-->
	<div class="card d-flex p-3 bg-body-secondary flex-column gap-3 border border-0 m-5">
		<div class="d-flex gap-2 justify-content-start" style="width:20rem">
				<h4 class="text-start">In Progress</h4>
				<h4 class="text-body-secondary"><%= inProgress.length %></h4>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Priority</th>
					<th scope="col">Tag</th>
					<th scope="col">Assignee</th>
					<th scope="col">Story Points</th>
					<th scope="col">More</th>
					<th scope="col">Move</th>
				</tr>
			</thead>
			<tbody>
				<% inProgress.forEach(task => { %>
					<tr>
						<td><%= task.title %></td>
						<td>
							<% if (task.priority !== null) { %>
								<span class="badge text-bg-dark rounded-pill p-2"><%= task.priority %></span>
							<% } %>
						</td>
						<td>
							<% if (task.tag !== null) { %>
								<span class="badge <%=task.tag%>-badge py-1"><%=task.tag%></span>
							<% } %>
						</td>
						<td>
							<% if (task.assignee !== null) { %>
								<%=task.assignee%>
							<% } %>
						</td>
						<td>
							<% if (task.story_points !== null) { %>
								<%=task.story_points%>pts
							<% } %>
						</td>
						<td>
							<a href="#" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>">
									View/Edit
							</a>  
						</td>
						<td>
							<div class="btn-group dropstart">
								<a href="#" data-bs-toggle="dropdown">
									Move To
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><h6 class="dropdown-header">Move to</h6></li>
									<li><button class="dropdown-item" type="button">Not Started</button></li>
									<li><button class="dropdown-item" type="button">In Progress</button></li>
									<li><button class="dropdown-item" type="button">Completed</button></li>
								</ul>
							</div>
						</td>
					</tr>					 
				<% }) %>
			</tbody>
		</table>
	</div>
	
	<!--Completed Column-->
	<div class="card d-flex p-3 bg-body-secondary flex-column gap-3 border border-0 m-5">
		<div class="d-flex gap-2 justify-content-start" style="width:20rem">
				<h4 class="text-start">Completed</h4>
				<h4 class="text-body-secondary"><%= completed.length %></h4>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Priority</th>
					<th scope="col">Tag</th>
					<th scope="col">Assignee</th>
					<th scope="col">Story Points</th>
					<th scope="col">More</th>
					<th scope="col">Move</th>
				</tr>
			</thead>
			<tbody>
				<% completed.forEach(task => { %>
					<tr>
						<td><%= task.title %></td>
						<td>
							<% if (task.priority !== null) { %>
								<span class="badge text-bg-dark rounded-pill p-2"><%= task.priority %></span>
							<% } %>
						</td>
						<td>
							<% if (task.tag !== null) { %>
								<span class="badge <%=task.tag%>-badge py-1"><%=task.tag%></span>
							<% } %>
						</td>
						<td>
							<% if (task.assignee !== null) { %>
								<%=task.assignee%>
							<% } %>
						</td>
						<td>
							<% if (task.story_points !== null) { %>
								<%=task.story_points%>pts
							<% } %>
						</td>
						<td>
							<a href="#" data-bs-toggle="modal" data-bs-target="#detailed<%= task.id %>">
									View/Edit
							</a>  
						</td>
						<td>
							<div class="btn-group dropstart">
								<a href="#" data-bs-toggle="dropdown">
									Move To
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><h6 class="dropdown-header">Move to</h6></li>
									<li><button class="dropdown-item" type="button">Not Started</button></li>
									<li><button class="dropdown-item" type="button">In Progress</button></li>
									<li><button class="dropdown-item" type="button">Completed</button></li>
								</ul>
							</div>
						</td>
					</tr>					 
				<% }) %>
			</tbody>
		</table>
	</div>
	
  <!--List View End-->